#container {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
}

.header-titulo{
    width: 80%;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 279px;
    justify-content: center;
    text-align: justify;
    display: flex;
}

.titulo-comunicado{
    width: 100%;
}

.titulo-comualunos{
    font-family: Roboto;
    font-weight: Bold;
    margin-top: 1%;
    text-align: center;
}

.nav-filtro{
    position: absolute;
    width: 80%;
    height: 40px;
    left: 279px;
    opacity: 1;
}

.titulo-filtrar{
    font-family: Roboto;
    font-weight: Bold;
    margin-top: 0.5%;
    padding: 0px 10px;
}

.dropdown-toggle::after{
    color: #ffffff;
}

.modal{
    margin-top: 50px;
}

form.pesquisa-avancada{
    position: relative;
    display: flex;
    justify-content: center;
    text-align: justify; 
}

.p-avancada{
    width: 100%;
}

.preenchimento-p-avancada{
    width: 100%;
    text-align: center;
}


.campo-left{
    position: relative;
    float: left;
    width: 50%;
}

.campo-right{
    position: relative;
    float: right;
    width: 50%;
}

.campo-center{
    position: relative;
    width: 100%;
    text-align: center;
}

.titulo-p-avancada{
    text-align: center;
    width: 100%;
}

.titulo-ou{
    text-align: center;
    font-size: 1rem;  
    font-weight: bold;
}


.campo-left,.campo-right, .campo-center label{ /*nome dos campos a serem preenchidos*/
    margin-bottom: 0.2em;
    color: black;
    display: block;
    text-align: left;
    margin: 0 auto;
    padding: 1em;
}

input:focus{
    background: rgba(156, 193, 241, 0.356);
}

.botao1{
    font-size: 1.2em;
    background: rgba(0, 0, 0, 0.2)
    border:0;
    margin-top: 30px;
    position: relative;
    margin-bottom: 1em;
    color: red;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.botao1:hover{
    background: #2eb42e;
}

.botao2{
    font-size: 1.2em;
    background: rgba(0, 0, 0, 0.2)
    border:0;
    margin-top: 30px;
    position: relative;
    margin-bottom: 1em;
    color: blue;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.botao2:hover{
    background: #2eb42e;
}

@media (max-width: 768px) {
    .header-titulo {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }

    .nav-filtro{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%; 
    }
}