button {
  border: none;
  background: none;
}

input[type='file'] {
  display: none;
}

.form-modal {
  background: #E5E9F2;
}

.modal-width {
  width: 50% !important;
}

.no-border {
  border: none !important;
}

.save-button {
  padding: 0 50px !important;

  border-radius: 25px;
}

.btn-add-group {
  background: none;
  border: none;
  color: rgba(0,0, 0, 0.5)
}

.dropdown-wrapper {
  position: absolute;
  left: 385px;
}

@media (max-width: 576px) {
  .modal-width {
    width: 95.5% !important;
  }

  .inputs-wrapper {
    flex-direction: column !important;
  }

  .inputs-wrapper .inputs-second-column {
    margin-top: 1rem;
  }

  .inputs-wrapper .inputs-first-column {
    margin-right: 0 !important;
  }
}
