<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  {% block title %}
  <title>inFATEC-Home Page</title>
  {% endblock %}

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- Bootstrap core CSS -->
  <link href="{{url_for('static', filename='css/bootstrap/bootstrap.min.css')}}" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

  <!-- Select2 JS e CSS -->
  <link rel="stylesheet" href="{{url_for('static', filename='css/select2/select2.min.css')}}">
  <script src="{{url_for('static', filename='js/select2/select2.min.js')}}"></script>

  <!-- Favicons -->
  <link rel="icon" href="{{url_for('static', filename='imagens/icon1.png')}}" sizes="32x32" type="image/png">
  <meta name="theme-color" content="#7952b3">
  {% block css %}
  {% endblock %}
</head>

<body>
  <!--lista lateral-->
  <div class="container-fluid px-0 position-absolute h-100">
    <div class="d-flex flex-row h-100">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse sticky-top">
        <div class="pt-3 bg-azul sticky-top">
          <div class="nav-item text-white">
            <div class="d-flex justify-content-between">

              <div class="col-md-10 col-9 mt-1 px-2 position-relative">
                <input type="text" class="form-control inputp">
                <span class="icone-lupa font-azul">
                  <i class="fas fa-search"></i>
                </span>
              </div>

              <div class="col-md-2 col-3 pt-1 d-flex justify-content-between">
                <span>
                  <i class="fas fa-filter"></i>
                </span>
                <button id="btn-toggle-mobile" class="navbar-toggler position-absolute collapsed pt-1" type="button"
                  data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu"
                  aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon text-white">
                    <i class="fas fa-bars"></i>
                  </span>
                </button>
              </div>

            </div>
          </div>
        </div>

        <div class="grupos">
          <ul class="nav flex-column">
            <!--"Criar canal"-->
            <li class="nav-item border-bottom nav-item-btn border-top mb-1">
              <button type="button" class="nav-link active text-white p-2 canais sticky-top create-channel-button"
                data-bs-toggle="modal" data-bs-target="#criacaocanal">
                <span data-feather="home"></span>
                <i class="fas fa-plus"></i> Criar Canal
              </button>
              <!-- <a class="nav-link active text-white p-2 canais sticky-top" aria-current="page" href="#">
              <span data-feather="home"></span>
              <i class="fas fa-plus"></i> Criar Canal
            </a> -->
            </li>
            {% for canal in canais %}
              <li class="nav-item border-bottom nav-item-btn">
                <a class="nav-link text-white p-2 sticky-top" href="/post?canal={{canal[0]}}">
                <!--<i class="fas fa-lock"></i>--> {{canal[1]}} 
                </a>
              </li>
            {% endfor %}
          </ul>
          <div class="bg-lista"></div>
        </div>
        <!--footer da lista-->
        <footer class="flex-row text-white d-flex justify-content-between ">
          <a href="" class="text-white"><i class="fas fa-cog"></i></a>
          <a href="/gerenciamento_usuario" class="text-white"><i class="fas fa-users"></i></a>
          <a href="/login" class="text-white"><i class="fas fa-sign-out-alt"></i></a>
        </footer>

      </nav>
      <div class="w-100">

        {% block header %}
        <!--Header pagina-->
        <header class="navbar navbar-red flex-md-nowrap p-0 fundovermelho w-100">
          <!--Texto Header-->
          <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 textoheader font-weight-bold text-white">
            {% block titulo_cabecalho %}{{titulocanal}}{% endblock %}
          </a>
          <!--botao-->
          <button class="navbar-toggler position-absolute d-md-none collapsed pt-3" type="button"
            data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon text-white">
              <i class="fas fa-bars"></i>
            </span>
          </button>
        </header>
        {% endblock %}

        {% block nav %}
        <nav id="nav-filtro" class=" navbar navbar-expand flex-md-nowrap p-0 shadow text-white div-filtrar px-2">
          Filtrar por
          <span>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                  <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Mais recente</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Mais antigas</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal" href="#">Pesquisa
                        Avançada</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </span>
        </nav>
        {% endblock %}

        <div class="conteudo">
          {% block conteudo %}
          <!-- Aqui fica o conteudo -->
          {% endblock %}
        </div>
      </div>

    </div>
  </div>
  <div class="modal fade" id="criacaocanal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-danger text-white">
          <h5 class="modal-title">Criar Canal</h5>
          <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/criarcanal" method="POST">
            <div class="d-flex justify-content-center mt-4 inputs-wrapper">
              <div class="inputs-first-column me-4 largura_input">
                <input type="text" class="form-control mb-3 largura_input" placeholder="Nome" required name="nome">
                <div class="d-flex align-items-center justify-content-center mb-3">
                  <select class="adicionar-grupo select2-close-mask select2-dropdown" name="grupo"
                    multiple="multiple">
                    <option value="1">Coordenadores</option>
                    <option value="2">Professores</option>
                    <option value="3">Alunos</option>
                  </select>
                </div>
                <div class="d-flex align-items-center justify-content-center mb-3">
                  <select class="adicionar-semestre select2-close-mask select2-dropdown" name="semestre"
                    multiple="multiple">
                    <option value="0">Todos</option>
                    <option value="1">1º semestre</option>
                    <option value="2">2º semestre</option>
                    <option value="3">3º semestre</option>
                    <option value="4">4º semestre</option>
                    <option value="5">5º semestre</option>
                    <option value="6">6º semestre</option>
                  </select>
                </div>
                <!--Select2-->
                <div class="d-flex align-items-center justify-content-center mb-3">
                  <select class="adicionar-curso select2-close-mask select2-dropdown" name="curso"
                    multiple="multiple">
                    <option value="1">DSM</option>
                    <option value="2">ADS</option>
                    <option value="3">BD</option>
                  </select>
                </div>
                <div class="d-flex align-items-center justify-content-center mb-3">
                      <select class="adicionar-membros select2-close-mask select2-dropdown" name="email"
                    multiple="multiple">
                    <option value="elen.petri@fatec.sp.gov.br">elen.petri@fatec.sp.gov.br</option>
                    <option value="tais.salomao@fatec.sp.gov.br">tais.salomao@fatec.sp.gov.br</option>
                    <option value="kevin.mirenda@fatec.sp.gov.br">kevin.mirenda@fatec.sp.gov.br</option>
                    <option value="lucas.dias52@fatec.sp.gov.br">lucas.dias52@fatec.sp.gov.br</option>
                    <option value="rodrigo.paula15@fatec.sp.gov.br">rodrigo.paula15@fatec.sp.gov.br</option>
                    <option value="priscila.silva140@fatec.sp.gov.br">priscila.silva140@fatec.sp.gov.br</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="modal-footer d-flex justify-content-center no-border">
              <button type="submit" class="btn btn-danger fw-bold save-button">Criar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</body>

<script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>

<script>
  $(document).ready(() => {
    $('.form-control').on('keydown', e => {
      if (e.which === 13) e.preventDefault()
    });
  })
  //Select2
  $(document).ready(function () {
    $('.adicionar-grupo').select2({
      placeholder: "Grupos"
    });
    $('.adicionar-semestre').select2({
      placeholder: "Semestre"
    });
    $('.adicionar-curso').select2({
      placeholder: "Curso"
    });
    $('.adicionar-membros').select2({
      placeholder: "Adicionar moderadores"
    });

    $('.select2-search__field').addClass("largura_input");
  });

</script>

<!-- Modal Pesquisa Avançada-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% if pesquisa_postagem %}
        <form class="pesquisa-avancada" name="formtest" action="/post?canal={{id_canal}}" method="POST">
          <fieldset class="p-avancada">
            <div class="preenchimento-p-avancada">
              <div class="campo-center px-4 mt-3">
                <input type="text" class="form-control" name="postagem" placeholder="postagem" required="required">
              </div>
            </div>

            <div class="titulo-p-avancada mt-3 mb-3">
              <h2 class="titulo-ou">OU</h2>
            </div>

            <div class="preenchimento-p-avancada">
              <div class="campo-center px-4 mt-3">
                <input type="text" class="form-control" name="titulo" placeholder="Título" required="required">
              </div>
            </div>

            <div class="titulo-p-avancada mt-3 mb-3">
              <h2 class="titulo-ou">OU</h2>
            </div>

            <div class="preenchimento-p-avancada">
              <div class="campo-center px-4  mt-3">
                <label for="nascimento"><strong>Data inicial</strong></label>
                <input type="date" class="form-control" name="data_incial" id="data_inicial" required>
              </div>
            </div>

            <div class="preenchimento-p-avancada">
              <div class="campo-center px-4  mt-3">
                <label for="nascimento"><strong>Data final</strong></label>
                <input type="date" class="form-control" name="data_final" id="data_final" required>
              </div>
            </div>
            
          </fieldset>

        </form>
        <!--conteúdo-->

      </div>

      <div class="modal-footer border-top-0">
        <div class="preenchimento-p-avancada">
          <div class="campo-left d-grid gap-2 px-4 mb-3">
            <button class="btn btn-light text-danger btn-block fw-bold border" data-bs-dismiss="modal">Cancelar</button>
          </div>

          <div class="campo-right d-grid gap-2 px-4 mb-3">
            <button class="btn btn-light text-primary btn-block fw-bold border">Filtrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% block modals %}

{% endblock %}

{% block js %}
{% endblock %}


</html>