<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  {% block title %}
  <title>inFATEC-Home Page</title>
  {% endblock %}

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- Bootstrap core CSS -->
  <link href="{{url_for('static', filename='css/bootstrap/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='css/bootstrap/icons-1.6.1/font/bootstrap-icons.css')}}" rel="stylesheet">

  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

  <!-- Select2 JS e CSS -->
  <link rel="stylesheet" href="{{url_for('static', filename='css/select2/select2.min.css')}}">
  <script src="{{url_for('static', filename='js/select2/select2.min.js')}}"></script>

  <!-- Favicons -->
  <link rel="icon" href="{{url_for('static', filename='imagens/icon1.png')}}" sizes="32x32" type="image/png">
  <meta name="theme-color" content="#7952b3">
  {% block css %}
  {% endblock %}
</head>

<body>
  <!--lista lateral-->
  <div class="container-fluid px-0 position-absolute h-100">
    <div class="d-flex flex-row h-100">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse sticky-top">
        <div class="pt-3 bg-azul sticky-top">
          <div class="nav-item text-white">
            <div class="d-flex justify-content-between">

              <div class="col-md-10 col-9 mt-1 px-2 position-relative">
                <input id="pesquisar_canais" type="text" class="form-control inputp">
                <span class="icone-lupa font-azul">
                  <i class="fas fa-search"></i>
                </span>
              </div>

              <div class="col-md-2 col-3 pt-1 d-flex justify-content-between">
                <span>
                  <i class="fas fa-filter"></i>
                </span>
                <button id="btn-toggle-mobile" class="navbar-toggler position-absolute collapsed pt-1" type="button"
                  data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu"
                  aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon text-white">
                    <i class="fas fa-bars"></i>
                  </span>
                </button>
              </div>

            </div>
          </div>
        </div>

        <div class="grupos">
          <ul class="nav flex-column">
            {% if pode_criar_canal %}
            <!--"Criar canal"-->
            <li class="nav-item border-bottom nav-item-btn border-top mb-1">
              <button type="button" class="nav-link active text-white p-2 canais sticky-top create-channel-button"
                data-bs-toggle="modal" data-bs-target="#criacaocanal">
                <span data-feather="home"></span>
                <i class="fas fa-plus"></i> Criar Canal
              </button>
            </li>
            {% endif %}
            {% for canal in canais %}
            {% if canal[4] == True %}
            <li class="nav-item border-bottom nav-item-btn d-flex justify-content-between pe-2">
              <a class="nav-link text-white p-2 sticky-top" href="/post?canal={{canal[0]}}">
                {% if canal[2] == 'privado' %}
                <i class="bi bi-lock-fill text-white pt-2" title="Canal privado"></i>
                {% endif %}
                {{canal[1]}}
              </a>
              {% if canal[3] == True %}
              <a href="/gerenciamento-canal?canal={{canal[0]}}" class="pt-2">
                <i class="bi bi-gear text-white" title="Gerenciar canal"></i>
              </a>
              {% elif canal[4] == True %}
             
                <form action="/desafixar-canal?canal={{canal[0]}}" method="POST" class="fixado">
                  <div>
                      <button type="submit">
                        <i class="bi bi-pin-angle-fill text-white "></i>
                      </button>
                  </div>
              </form>
                
             
              {% endif %}
            </li>
            {% endif %}
            {% endfor %}
            {% for canal in canais %}
            {% if canal[4] != True %}
            <li class="nav-item border-bottom nav-item-btn d-flex justify-content-between pe-2 linha-pesquisada-canal">
              <a class="nav-link text-white p-2 sticky-top" href="/post?canal={{canal[0]}}">
                {% if canal[2] == 'privado' %}
                <i class="bi bi-lock-fill text-white pt-2" title="Canal privado"></i>
                {% endif %}
                {{canal[1]}}
              </a>
              {% if canal[3] == True %}
              <a href="/gerenciamento-canal?canal={{canal[0]}}" class="pt-2">
                <i class="bi bi-gear text-white" title="Gerenciar canal"></i>
              </a>
              {% elif canal[4] == True %}
              <p class="fixado">
                <i class="bi bi-pin-angle-fill text-white "></i>
              </p>
              {% endif %}
            </li>
            {% endif %}
            {% endfor %}
          </ul>
          <div class="bg-lista"></div>
        </div>
        <!--footer da lista-->
        <footer class="flex-row text-white d-flex justify-content-between ">
          <a href="" class="text-white"><i class="fas fa-cog"></i></a>
          {% if pode_gerenciar_usuario %}
          <a href="/gerenciamento_usuario" class="text-white"><i class="fas fa-users"></i></a>
          {% endif %}
          <button class="text-white sign-out"><i class="fas fa-sign-out-alt"></i></button>
          <!-- esse -->
        </footer>

      </nav>
      <div class="w-100">

        {% block header %}
        <!--Header pagina-->
        <header class="navbar navbar-red flex-md-nowrap p-0 fundovermelho w-100">
          <!--Texto Header-->
          <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 textoheader font-weight-bold text-white">
            {% block titulo_cabecalho %}{{titulocanal}}{% endblock %}
          </a>
          <!--botao-->
          <button class="navbar-toggler position-absolute d-md-none collapsed pt-3" type="button"
            data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon text-white">
              <i class="fas fa-bars"></i>
            </span>
          </button>
        </header>
        {% endblock %}

        {% block nav %}
        <nav id="nav-filtro" class=" navbar navbar-expand flex-md-nowrap p-0 shadow text-white div-filtrar px-2">
          Filtrar por
          <span>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                  <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li action="/mais_recentes?canal={{id_canal}}" method="POST">
                      <a class="dropdown-item" name="mais_recentes" href="/mais_recentes?canal={{id_canal}}" method="POST">Mais recentes</a>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li>
                      <a class="dropdown-item" name="mais_antigas" href="/mais_antigas?canal={{id_canal}}" method="POST">Mais antigas</a>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal" href="#">Pesquisa
                        Avançada</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </span>
        </nav>
        {% endblock %}

        <div class="conteudo">
          {% block conteudo %}
          <!-- Aqui fica o conteudo -->
          {% endblock %}
        </div>
      </div>

    </div>
  </div>
  <div class="modal fade" id="criacaocanal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-danger text-white">
          <h5 class="modal-title">Criar Canal</h5>
          <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
        <div class="modal-body">
          
          <form action="/criarcanal" method="POST">
            <div class="d-flex justify-content-center mt-4 inputs-wrapper">
              <div class="inputs-first-column me-4 largura_input">
                <input type="text" class="form-control mb-3 largura_input" placeholder="Nome" required name="nome">
                <p>Defina qual o público alvo deste canal</p>
                <div class="d-flex align-items-center justify-content-center mb-3">
                  <select class="adicionar-grupo select2-close-mask select2-dropdown" name="grupo"
                    multiple="multiple">
                    <option value="1">Coordenadores</option>
                    <option value="2">Professores</option>
                    <option value="3">Alunos</option>
                  </select>
                </div>
                <!--Select2-->
                <div class="d-flex align-items-center justify-content-center mb-3">
                  <select class="adicionar-curso select2-close-mask select2-dropdown" name="curso"
                    multiple="multiple">
                    <option value="Todos os Cursos">Todos os cursos</option>
                    <option value="Análise e Desenvolvimento de Sistemas">Análise e Desenvolvimento de Sistemas</option>
                    <option value="Banco de Dados">Banco de Dados</option>
                    <option value="Desenvolvimento de Software Multiplataforma">Desenvolvimento de Software Multiplataforma</option>
                    <option value="Gestão da Produção Industrial">Gestão da Produção Industrial</option>
                    <option value="Logística">Logística</option>
                    <option value="Manufatura Avançada">Manufatura Avançada</option>
                    <option value="Manutenção de Aeronaves">Manutenção de Aeronaves</option>
                    <option value="Projetos de Estruturas Aeronáuticas">Projetos de Estruturas Aeronáuticas</option>             
                  </select>
                </div>

                <div class="form-check form-check-inline">
                  <input class="form-check-input aria-expanded" type="radio" name="visibilidade" id="canal_publico" checked value="publico" data-bs-toggle="collapsed" href="#multiCollapseRadio2" role="button" aria-expanded="false" aria-controls="multiCollapseRadio2" onclick="collapse_remove()">
                  <label class="form-check-label" for="canal_publico" >Canal público</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input aria-expanded" type="radio" name="visibilidade" id="canal_privado" value="privado" data-bs-toggle="collapse" href="#multiCollapseRadio2" role="button" aria-expanded="false" aria-controls="multiCollapseRadio2">
                  <label class="form-check-label" for="canal_privado">Canal privado</label>
                </div>

                <div class="collapse multi-collapse" data-bs-target="#multiCollapseRadio2" id="multiCollapseRadio2" aria-expanded="false">
                  <div class="d-flex align-items-center justify-content-center mb-3">
                        <select class="adicionar-membros select2-close-mask select2-dropdown" name="email"
                      multiple="multiple">
                      {% for email in emails %}
                      <option value="{{email[2]}}">{{email[2]}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer d-flex justify-content-center no-border">
              <button type="submit" class="btn btn-danger fw-bold save-button">Criar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</body>

<script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>

<script>
  function get_cookie(name){
    return document.cookie.split(';').some(c => {
      return c.trim().startsWith(name + '=');
    });
  } 

  function delete_cookie( name, path, domain ) {
    if( get_cookie( name ) ) {
      document.cookie = name + "=" +
        ((path) ? ";path="+path:"")+
        ((domain)?";domain="+domain:"") +
        ";expires=Thu, 01 Jan 1970 00:00:01 GMT";
    }
  }
</script>

<script>
  $(document).ready(() => {
    $('.form-control').on('keydown', e => {
      if (e.which === 13) e.preventDefault()
    });

    $('.sign-out').click(() => {
      delete_cookie('email_logado')
      window.location.href = "/login";
    })
  })
  //Select2
  $(document).ready(function () {
    $('.adicionar-grupo').select2({
      placeholder: "Grupos"
    });
    $('.adicionar-curso').select2({
      placeholder: "Cursos"
    });
    $('.adicionar-membros').select2({
      placeholder: "Adicionar moderadores"
    });

    $('.select2-search__field').addClass("largura_input");
  });

</script>

<script>/*oculta o input de emails*/
  function collapse_remove(){
    document.getElementById('multiCollapseRadio2').classList.remove('show');
  }
</script>

<!--Funções de pesquisar o canal-->
<script>
  $('#pesquisar_canais').keyup(function() {
    var texto = $(this).val().toLowerCase()
    $('.linha-pesquisada-canal').each(function() {
     var canal = $($(this).find('a')[0]).text().toLowerCase()
     $(this).addClass('d-none')
     if (canal.indexOf(texto)>=0){
       $(this).removeClass('d-none')
     }
    }
    )
  }
  )
</script>

<!-- Modal Pesquisa Avançada-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="pesquisa-avancada" name="formtest" action="/pesquisa_postagem?canal={{id_canal}}" method="POST">
          <fieldset class="p-avancada">
            <div class="preenchimento-p-avancada">
              <div class="campo-center px-4 mt-3">
                <input type="text" class="form-control" name="titulo" placeholder="Título">
              </div>
            </div>

            <div class="titulo-p-avancada mt-3 mb-3">
              <h2 class="titulo-ou">OU</h2>
            </div>

            <div class="preenchimento-p-avancada">
              <div class="campo-center px-4  mt-3">
                <label for="nascimento"><strong>Data inicial</strong></label>
                <input type="date" class="form-control" name="data_inicial" id="data_inicial">
              </div>
            </div>

            <div class="preenchimento-p-avancada">
              <div class="campo-center px-4  mt-3">
                <label for="nascimento"><strong>Data final</strong></label>
                <input type="date" class="form-control" name="data_final" id="data_final">
              </div>
            </div>

            <div class="modal-footer border-top-0">
              <div class="preenchimento-p-avancada">
                <div class="campo-left d-grid gap-2 px-4 mb-3">
                  <button class="btn btn-light text-danger btn-block fw-bold border" data-bs-dismiss="modal">Cancelar</button>
                </div>
      
                <div class="campo-right d-grid gap-2 px-4 mb-3">
                  <button class="btn btn-light text-primary btn-block fw-bold border" type="submit">Filtrar</button>
                </div>
              </div>
            </div>
            
          </fieldset>
      </div>
    </form>
    </div>
  </div>
</div>

{% block modals %}

{% endblock %}

{% block js %}
{% endblock %}


</html>