{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/gerenciamento_usuario.css')}}">
{% endblock %}

{% block title %}
  <title>inFATEC-Gerenciamento-Usuario</title>
  {% endblock %}
{% block conteudo%}
<div class="container mt-3">

  <input type="file" name="arquivo" id="arquivo">

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for usuario in usuarios %}
      <tr>
        <td>{{usuario[1]}}</td>
        <td>{{usuario[2]}}</td>
        <td>
          <button type="button" data-bs-toggle="modal" class="text-danger" data-bs-target="#excluirModal">
            <i class="bi bi-trash"></i>
          </button>

          <button type="button" data-bs-toggle="modal" class="text-secundary" data-bs-target="#alterarModal">
            <i class="bi bi-pencil-square"></i>
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

{% block modals %}
  <!-- Modal -->
<div class="modal fade" id="excluirModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-width">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Excluir Usuário</h5>
        <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Deseja excluir esse usuário mesmo?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary fw-bold">Não</button>
        <button type="button" class="btn btn-danger fw-bold">Sim</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="alterarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-width">
    <div class="modal-content">
      <div class="modal-header text-white">
        <h5 class="modal-title" id="exampleModalLabel">Alterar Usuário</h5>
        <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/gerenciamento_usuario" method="POST">
          <p>Selecione abaixo as permissões para este usuário</p>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" checked id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Gerenciar Usuários
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" checked id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Criar Canais
            </label>
          </div>
          <div class="pt-3 div-salvar">
            <button type="submit" class="btn botao-salvar">Salvar</button>
          </div>
        </form>
      </div>
      
    </div>
  </div>
</div>
{% endblock %}


{% block js %}
<script src="{{url_for('static', filename='js/index_gerenciamento.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery.mask.js')}}"></script>

{% endblock %}