:root {
  --primary-red: #B22D30;
  --secondary-red: #CD4447;
  --primary-blue: #0F4D96;
  --secondary-blue: #2969B5;
  --color-text-complement: rgba(0, 0, 0, .5);

  font-family: Arial, Helvetica, sans-serif;
}

*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  } 
}