.botao-cancelar.btn-light{
    color: #9e1616;
    font-weight: bold;
    border-color: #9e1616;  
}

.botao-cancelar.btn-light:hover {
    color: #fff;
    background-color: #9e1616;
}

.botao-salvar.btn-light {
    color: #2d2e33;
    font-weight: bold;
    border-color: #2d2e33;  
}

.botao-salvar.btn-light:hover {
    color: #fff;
    background-color: #2d2e33;
}

@media(max-width:600px){
    #atencao, #cadastro{
        max-width: 100%!important;
    }
}

#cadastro{
    border-color: #d1e7dd;
    background-color: #d1e7dd;
    color: #0f5132;
    max-width: 50%;
}

#atencao{
    max-width: 50%;
    color: #9e1616;
    background-color: #ec0f0f17;
    border: 0px;
    border-radius: 5px;
}
.input, .input-group{
    max-width: 278px;
    margin-left: 40%;

}
@media(max-width:600px){
    .input, .input-group{
        max-width: 100%!important;
        margin-left: auto;
    }
}