.conteudo {
  height: 91%;
}
.fundovermelho {
    background-color: #B22D30;
    height: 9%;
}

.imagem{
	width: 220px;
	height: 220px;
}
.bg_color{
	background-color: #E5E9F2;
	height: 100%;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
