.btn-primary {
    color: #fff;
    background-color: #9e1616;
    border-color: #9e1616;  
}

.btn-primary:hover {
    color: #fff;
    background-color: #c52626;
}

  
*, ::after{
    background-color: #E5E9F2;
}

.pass {
    width: 150px;
    padding-right: 20px;
  }
  
.height-eye{
    height: 38px;
}

.password-form {
    margin-bottom: 10px;
    border-top-left-radius: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

