.container {
  display: flex;
  flex-direction: column;
}

.post-card {
  margin-top: 30px;
}

.post-container {
  position: relative;
  display: flex;
  background: rgba(196, 196, 196, .42);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: none !important;
}
.post-actions .fa-edit, .post-actions .fa-trash-alt, .post-actions .fa-times {
    position: absolute;
    cursor: pointer;
}


.post-actions .fa-edit {
  top: 10px;
  right: 10px;
}

.post-actions .fa-trash-alt {
  top: 35px;
  right: 14.5px;
}

.post-actions .fa-times {
  top: 30px;
  right: 14.5px;
}

.post-container #user-icon {
  margin-right: 5px;

  background: rgba(37, 37, 37, .6);
}

.textarea-editar{
    min-height: 9rem;
    resize: none;

}

.action-button {
  color: rgb(51, 51, 51);
}

.action-button:hover > i {
  color: rgba(51, 51, 51, .7);
}

.post-content {
  display: flex;
  flex-direction: column;
}

.post-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.posted-info p{
  text-align: right;

}

.posted-info span {
  color: var(--primary-blue);
}

.date-posted-text {
  color: var(--color-text-complement);
  text-align: left;
  padding-left: 20px;
}

.post-main iframe {
  width: 40rem;
  height: 20rem;
}

.user-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 10px;
  border-radius: 100%;
  color: #fff;
}

/*formulário de post*/
.formulario-post {
  margin: auto;
  min-width: 300px !important;
  max-width: 1293px !important;
  display: block !important;
  position: sticky;
  margin-top: 25%;
  width: 100%;
  background-color: rgba(245,245,245,255) !important;
  border-radius: 5px;
  flex-direction: column;
  bottom: 10px;
}

#add_arquivo{
  position: relative;
  display: flex;
  width: 80%;
}

.arquivo{
  position: relative;
  float: left;
  width: 80%;
  font-size: 20px;
  text-align: justify;
  text-justify: auto;
  margin-top: 30px;
}

.envio{
  position: relative;
  width: 20%;
  float: right;
  margin-top: 30px;
}

@media(max-width: 767px){
  .formulario-post {
    position: sticky;
    margin: 0 auto;
    width: 80%;
    margin-left:10px;
    margin-right: 10px;
  }

  .arquivo{
    width: 100%;
  }
 
  #add_arquivo{
    width: 90%;
    font-size: 14px;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
  }

  .envio{
      width: 100%;
  }

  .botao_enviar{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media(max-width: 600px){
  .formulario-post {
    position: sticky;
    margin: 0 auto;
    width: 90%;
    margin-left:5px;
    margin-right: 5px;
  }
}

  .bg-button{
   border: 1px solid black;
  }

  /*Descrição do canal*/
  .alert-color{
    background-color: #e9ecef;
  }

  .seguir-canal{
    color: #2d2e33;
    font-weight: bold;
    border-color: #2d2e33;
  }

  .seguir-canal:hover{
    color: #fff;
    background-color: #2d2e33;
  }


  .deixar-seguir-canal{
    color: #9e1616;
    font-weight: bold;
    border-color: #9e1616;  
  }

  .deixar-seguir-canal:hover{
    color: #fff;
    background-color: #9e1616;
  }




