html, body{
    height: unset!important;
}

.input{
max-width: 278px;
}

fieldset, ::after{
    background-color: #E5E9F2;
}

fieldset{
    width: 330px;
}

.botao-voltar.btn-light {
    color: #9e1616;
    font-weight: bold;
    border-color: #9e1616;    
}

.botao-voltar.btn-light:hover {
    color: #fff;
    background-color: #9e1616;
}

.botao-enviar.btn-light {
    color: #2d2e33;
    font-weight: bold;
    border-color: #2d2e33;    
}

.botao-enviar.btn-light:hover {
    color: #fff;
    background-color: #2d2e33;
}



@media(max-width:600px){
    #atencao, #recuperado{
        max-width: 100%!important;
    }
}

#recuperado{
    border-color: #d1e7dd;
    background-color: #d1e7dd;
    color: #0f5132;
    max-width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

#msg_sucesso{
    color: #0f5132;
    background-color: #d1e7dd;
    border: 0px;
    border-radius: 5px;
    max-width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}