.fundovermelho {
    background-color: #B22D30;
    height: 9%;
    
  }

  #btn-toggle-mobile {
    display: none;
  }

  .textoheader {
    text-align: center;
    width: 100%;      
  }

    .navbarp {
   position: relative;
   top: 28px;
  }
  .nav-item-btn {
    background-color: #4b54679e;
    font-size: 1rem;
    padding: 0.2rem;
  }
  .bg-azul {
    background-color: #000000 ;
    height: 9%; 
  }
  .inputp {
    position: relative;
    height: 20px;
    border-radius: 13px;   
  }
  .icone-lupa {
    position: absolute;
    right: 1rem;
    bottom: 2px;
  }
  .font-azul {
    color: #0F3456;
  }
  .text-white{
    color: white !important;
    font-weight: bolder;
  }
  

  footer {
    background-color: #000000 ;
    position: relative;
    height: 9%;
    font-size: 1.8rem;
    padding: 0.9rem;
    
  }
  .grupos {
    height: 82%;
    background-color: #28292e;
  }

  .nav li:hover{
    background-color: rgba(196, 196, 196, .42);;
    opacity: 1;
  }
  .div-filtrar {
    background-color: rgba(205, 68, 71, 0.65);
  }
  #sidebarMenu {
    border-right: 3px solid #fff;
  }
  .conteudo {
    height: 87%;
    overflow-y: auto;
    position: fixed;
    width: 83.5%;
  }

  .create-channel-button {
    width: 100%;

    background: none;
    border: none;
    text-align: left;
  }

  button {
    border: none;
    background: none;
  }
  
  input[type='file'] {
    display: none;
  }
  
  .form-modal {
    background: #E5E9F2;
  }
  
  .modal-width {
    width: 50% !important;
  }
  
  .no-border {
    border: none !important;
  }
  
  .save-button {
    padding: 0 50px !important;
  
    border-radius: 25px;
  }
  
  .btn-add-group {
    background: none;
    border: none;
    color: rgba(0,0, 0, 0.5)
  }
  
  .dropdown-wrapper {
    position: absolute;
    left: 385px;
  }
  
  @media (max-width: 576px) {
    .modal-width {
      width: 95.5% !important;
    }
  
    .inputs-wrapper {
      flex-direction: column !important;
    }
  
    .inputs-wrapper .inputs-second-column {
      margin-top: 1rem;
    }
  
    .inputs-wrapper .inputs-first-column {
      margin-right: 0 !important;
    }
  }
  

  @media (max-width: 767px) {
    .conteudo {
      width: 100%;
    }
  }
  @media (max-width: 650px) {
    #sidebarMenu {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1021;
      width: 90%;
      height: 100%;
    }
    #btn-toggle-mobile {
      display: block;
      position: absolute !important;
      right: 0;
      font-size: 1.5rem;
      padding: 0;
    }
    .inputp {
      height: 2rem;
    }
    .nav-item, .icone-lupa {
      font-size: 1.5rem;
    }
    .nav-item-btn {
      opacity: 1;
    }
    .grupos {
      background-color: rgba(100, 150, 225 ,1);;
    }
  }

.dropdown-toggle::after{
    color: #ffffff;
}

form.pesquisa-avancada{
    position: relative;
    display: flex;
    justify-content: center;
    text-align: justify; 
}

.p-avancada{
    width: 100%;
}

.preenchimento-p-avancada{
    width: 100%;
    text-align: center;
}


.campo-left{
    position: relative;
    float: left;
    width: 50%;
}

.campo-right{
    position: relative;
    float: right;
    width: 50%;
}

.campo-center{
    position: relative;
    width: 100%;
    text-align: center;
}

.titulo-p-avancada{
    text-align: center;
    width: 100%;
}

.titulo-ou{
    text-align: center;
    font-size: 1rem;  
    font-weight: bold;
}


.campo-left,.campo-right, .campo-center label{ /*nome dos campos a serem preenchidos*/
    margin-bottom: 0.2em;
    color: black;
    display: block;
    text-align: left;
    margin: 0 auto;
    padding: 1em;
}

input:focus{
    background: rgba(156, 193, 241, 0.356);
}

.botao1{
    font-size: 1.2em;
    background: rgba(0, 0, 0, 0.2);
    border:0;
    margin-top: 30px;
    position: relative;
    margin-bottom: 1em;
    color: red;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}


.botao1:hover{
    background: #2eb42e;
}

.botao2{
    font-size: 1.2em;
    background: rgba(0, 0, 0, 0.2);
    border:0;
    margin-top: 30px;
    position: relative;
    margin-bottom: 1em;
    color: blue;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.botao2:hover{
    background: #2eb42e;
}