button {
  border: none;
  background: none;
}


.btn-secondary:hover {
  color: #fff;
  background-color: #9e1616;
  border-color: #9e1616;
}


input[type='file'] {
  display: none;
}

.form-modal {
  background: #E5E9F2;
}

.modal-width {
  width: 650px !important;
}

.no-border {
  border: none !important;
}

.save-button {
  padding: 0 50px !important;
  border-radius: 25px;
}

.form-check-input:checked {
  background-color: #0d6efd;
  border-color: #28292e;
}

@media (max-width: 576px) {
  .modal-width {
    width: 95.5% !important;
  }

  .inputs-wrapper {
    flex-direction: column !important;
  }

  .inputs-wrapper .inputs-second-column {
    margin-top: 1rem;
  }

  .inputs-wrapper .inputs-first-column {
    margin-right: 0 !important;
  }
}