#container{
    background: rgba(255,255,255,1);
    position: relative;
    display: flex;
    flex-direction: column;
}


.titulo-comunicado{
    width: 100%;
}

.titulo-comualunos{
    font-family: Roboto;
    font-weight: Bold;
    margin-top: 1%;
    text-align: center;
}

.nav-filtro{
    height: 40px;
}

.titulo-filtrar{
    font-family: Roboto;
    font-weight: Bold;
    margin-top: 0.5%;
    padding: 0px 10px;
}


.dropdown-toggle::after{
    color: #ffffff;
}

form.pesquisa-avancada{
    position: relative;
    display: flex;
    justify-content: center;
    text-align: justify; 
}

.p-avancada{
    width: 100%;
}

.preenchimento-p-avancada{
    width: 100%;
    text-align: center;
}


.campo-left{
    position: relative;
    float: left;
    width: 50%;
}

.campo-right{
    position: relative;
    float: right;
    width: 50%;
}

.campo-center{
    position: relative;
    width: 100%;
    text-align: center;
}

.titulo-p-avancada{
    text-align: center;
    width: 100%;
}

.titulo-ou{
    text-align: center;
    font-size: 1rem;  
    font-weight: bold;
}


.campo-left,.campo-right, .campo-center label{ /*nome dos campos a serem preenchidos*/
    margin-bottom: 0.2em;
    color: black;
    display: block;
    text-align: left;
    margin: 0 auto;
    padding: 1em;
}

input:focus{
    background: rgba(156, 193, 241, 0.356);
}

.botao1{
    font-size: 1.2em;
    background: rgba(0, 0, 0, 0.2)
    border:0;
    margin-top: 30px;
    position: relative;
    margin-bottom: 1em;
    color: red;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.botao1:hover{
    background: #2eb42e;
}

.botao2{
    font-size: 1.2em;
    background: rgba(0, 0, 0, 0.2)
    border:0;
    margin-top: 30px;
    position: relative;
    margin-bottom: 1em;
    color: blue;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.botao2:hover{
    background: #2eb42e;
}

.post {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.post-card {
  margin-top: 50px;
}

.post-container {
  position: relative;

  display: flex;
  justify-content: center;
  
  background: rgba(196, 196, 196, .42);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: none !important;
}

.post-actions .fa-edit {
  position: absolute;
  top: 10px;
  right: 10px;
}

.post-actions .fa-eye {
  position: absolute;
  top: 35px;
  right: 10px;
}

.post-actions .fa-times {
  position: absolute;
  top: 55px;
  right: 12.5px;
}

.post-container #user-icon {
  margin-right: 5px;

  background: rgba(37, 37, 37, .6);
}

.action-button {
  color: rgb(51, 51, 51);
}

.action-button:hover > i {
  color: rgba(51, 51, 51, .7);
}

.post-content {
  display: flex;
  flex-direction: column;
}

.post-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-bottom: 2.1rem;
}

.posted-info span {
  color: var(--primary-blue);
}

.date-posted-text {
  color: var(--color-text-complement);
}

.post-main iframe {
  width: 40rem;
  height: 20rem;
}

.user-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 30px;
  height: 30px;
  padding: 10px;
  border-radius: 100%;

  color: #fff;
}

.text-area-wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.text-area-buttons {
  position: absolute;
  bottom: 10px;

  background: var(--primary-red);  
}

.text-area-buttons:hover {
  background: var(--secondary-red); 
}

.text-area-wrapper #send-icon {
  right: 10px;
}

.text-area-wrapper #clips-icon {
  right: 50px;
}

.text-area-wrapper textarea {
  padding: 10px 0 0 10px;
}

@media (max-width: 576px) {
  .post-main iframe {
    width: 95%;
    height: 95%;
  }
}